:root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #cb4ef4;
  --clr-primary-a10: #b246d6;
  --clr-primary-a20: #9a3fb8;
  --clr-primary-a30: #83379c;
  --clr-primary-a40: #6c3080;
  --clr-primary-a50: #572865;

  /** Theme surface colors */
  --clr-surface-a0: #ffffff;
  --clr-surface-a10: #f0f0f0;
  --clr-surface-a20: #e1e1e1;
  --clr-surface-a30: #d3d3d3;
  --clr-surface-a40: #c5c5c5;
  --clr-surface-a50: #b6b6b6;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #fceefe;
  --clr-surface-tonal-a10: #eee1ef;
  --clr-surface-tonal-a20: #dfd5e1;
  --clr-surface-tonal-a30: #d1c8d2;
  --clr-surface-tonal-a40: #c3bcc4;
  --clr-surface-tonal-a50: #b5afb6;

  /** Success colors */
  --clr-success-a0: #1b7f5c;
  --clr-success-a10: #28be8a;
  --clr-success-a20: #58dbad;

  /** Warning colors */
  --clr-warning-a0: #b8871f;
  --clr-warning-a10: #dfae44;
  --clr-warning-a20: #ebca85;

  /** Danger colors */
  --clr-danger-a0: #b13535;
  --clr-danger-a10: #d06262;
  --clr-danger-a20: #e29d9d;

  /** Info colors */
  --clr-info-a0: #1e56a3;
  --clr-info-a10: #347ada;
  --clr-info-a20: #74a4e6;
}

.font {
  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.content {
  max-width: 75%;
  width: 100%;
  margin: 1rem auto 1rem;
  padding: 1rem;
  height: 80vh;
  background-color: var(--clr-surface-a10);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  font-size: larger;
}

.title {
  font-size: xx-large;
  color: var(--clr-dark-a0);
}

.form-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

#submit {
  background-color: var(--clr-surface-a10);
  border-color: var(--clr-surface-a30);
  border-width: 0.1rem;
  border-radius: 1rem;
  padding: 0.5% 2.5%;
  font-size: medium;
}

#word-count-value {
  width: 1rem;
}

#output-wrapper {
  background-color: var(--clr-surface-a20);
  border-radius: 0.5rem;
  min-width: 20rem;
  height: 3rem;
  margin: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

#output {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: x-large;
  flex: 1;
}

form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}